.contact{
    &-form{
        margin-top: 30px;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            input, textarea{
                width: 70%;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid $primary-green;
                resize: vertical;
            }
            textarea{
                min-height: 100px;
            }
        }
        #contact-form-btn{
            margin: 20px 0;
            box-shadow: 0px 0px 6px 1px $primary-blue;
            opacity: 0.8;
            width: 50%;
            padding: 10px;
            background-color: $primary-green;
            border-radius: 10px;
            border: 0;
            &:hover{
                opacity: 1;
                cursor: pointer;
                scale: 1.1;
            }
        }
        &-maps{
            margin: 40px 0px;
            h3{
                margin-bottom: 20px;
            }
            iframe{
                width: 100%;
                height: 350px;
                border-radius: 20px;
                box-shadow: 0px 0px 10px 3px $primary-blue;
            }
        }
    }
}

// Desktop style
@media (min-width: $desktop){
    .contact{
        text-align: center;
        padding: 75px 0;
        &-form{
            display: flex;
            justify-content: space-around;
            form{
                width: 40%;
                gap: 20px;
                textarea{
                    min-height: 200px;
                }
            }
            &-maps{
                width: 40%;
                margin: 0;
                iframe{
                    height: 77%;
                }
            }
        }
    }
}