.header{
    .welcome{
        background-color: $primary-grey;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 30px 0;
        opacity: 0.8;
        &-social{
            display: flex;
            gap: 20px;
            right: 30px;
            a{
            &:hover{
                color: $primary-blue;
                opacity: 1;
            }
        }
        }
    }
    &-logo{
        background-color: $primary-white;
        width: 100%;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 180px;
            height: 180px;
        }
    }
    &-img{
        position: relative;
        background-image: url("../img/paesaggio.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            padding: 300px 16px;
            color: #fff;
            text-align: center;
            position: relative;
            z-index: 2;
        }
    }
    &-img-who{
        background-image: url("../img/chi-siamo.jpg");
    }
    &-img-products{
        background-image: url("../img/prodotti.jpg");
    }
    &-img-contact{
        background-image: url("../img/contatti.jpg");
    }
    &-img::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
}

@media (max-width: $medium){
    .header{
        .welcome{
            h1{
                font-size: 30px;
            }
            &-social{
                display: none;
            }
        }
    }
}

@media (min-width: $desktop){
    .header{
        .welcome{
            h1{
                font-size: 35px;
            }
            &-social{
                gap: 45px;
            }
        }
        &-logo{
            height: 250px;
            position: relative;
            right: 25%;
            img{
                width: 210px;
                height: 210px;
            }
        }
    }
}


