.products-title{
    background-color: $primary-grey;
    padding: 100px 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.products{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    &-container{
        margin-top: 30px;
        padding-top: 40px;
        &-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            margin-top: 20px;
        }
    }
}
.products-rent-u{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 30px;
    text-align: center;
    background-color: $primary-blue;
    color: #fff;
    margin-top: 120px;
    h3{
        font-size: 30px;
    }
    .services-home-container-cards{
        h3{
            color: $primary-green;
        }
        a{
            border: 1px solid $primary-green;
            padding: 10px;
            border-radius: 10px;
            color: $primary-green;
            opacity: 0.8;
            &:hover{
                opacity: 1;
                box-shadow: 0 0 5px 2px $primary-green;
            }
        }
    }
}
.rent-card-products{
    background-color: $primary-blue;
}

// Desktop style
@media (min-width: $desktop){
    .products-title{
        padding: 150px 16px;
    }
    .products{
        &-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-box{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 80%;
            }
        }
    }
    .products-rent-u{
        flex-direction: row;
        padding: 50px;
        .products-rent-u-h{
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: flex-start;
            position: relative;
            bottom: 70px;
        }
        .services-home-container-cards{
            max-width: none;
            width: 40%;
        }
    }
}