// color
$primary-beige: #E0D2BE;
$primary-blue: #256da8;
$secondary-blue: #254872;
$primary-grey: #ECF0F1;
$secondary-grey: #2C3236;

$primary-sky-blue: #2CD9FF;
$primary-beige-text: #FFDDC8;
$primary-white: #fff;
$primary-green: #a3d359;

// border
$primary-border: 2px solid #000;

// shadow
$shadow-primary: 1px 1px 4px 0 rgba(0, 0, 0, .1);

// media queries
$desktop: 961px;
$medium: 600px;
$tablet: 401px;
$extra-small: 355px;